body{
    margin: 0;
	padding: 0;
}
li{
    list-style: none;
}
.head{
    background-color: #555;
}
.head h1{
   color: #fff;
}
.main{
    display: flex;
    justify-content: center;
}
.img img{
    border-radius: 50%;
}
.link{
    text-align: center;
    margin-top: 10px;
}
.second{
    display: flex;
    width: 70%;
    margin: auto;
}
.left{
    width: 70%;
}
.left div{
    margin: 20px;
}
.right{
    width: 30%;
    display: flex;
    justify-content: center;
}
.skill{
    
    width: 150px;
}

.skill p{
    margin-left: 28px;
    font-size: 20px;
    font-weight: bolder;
}
.skill ul{
    font-size: 18px;
}
.skill h2{
    text-align: center;
}

@media(max-width:600px){
    .second{
        display: flex;
    }
}